@{
    ViewBag.Title = "Home";
}

<h2>@ViewBag.Title</h2>

<p>Welcome to the Clean Architecture sample application! : )</p>

<p>Clic on one of the following Options:</p>

<ul>
    <li>@Html.ActionLink("Members", "Index", "members")</li>
    <li>@Html.ActionLink("Categories", "Index", "categories")</li>
    <li>@Html.ActionLink("Chargeables", "Index", "chargeables")</li>
</ul>